.items {
  width: 100%;
}

.testimonial-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-card {
  width: 100%;
  max-width: 350px; /* Adjust the max-width as needed */
  margin: 0 10px; /* Add margin between cards */
}

.testimonial-image {
  width: 80px;
  height: 80px;
  margin-right: 190px;
  margin-left: auto;
  display: block; /* Ensure the image is centered */
}

@media screen and (max-width: 767px) {
  .testimonial-card {
    margin-bottom: 20px; /* Add space between cards in mobile view */
  }
}
