@tailwind base;
@tailwind components;
@tailwind utilities;

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 1000 */

.overimg {
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 1.2em;
  margin-top: -2em;
}
.overflow-x-scroll {
  overflow-x: auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-slide div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
}

@media screen and (min-width: 768px) {
  .awssld__wrapper {
    height: 40vh !important;
  }
}

.awssld__content {
  background-color: transparent !important;
}
.awssld_bullets,
.awssld_bullets--active {
  display: none;
}
